### Soal Tipe Data

In [27]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

#### Petunjuk:
Dari data di atas kerjakan soal di bawah untuk nomor **1 - 4**, sebisa mungkin gunakan comprehension loop apabila ada perulangan:

### 1 
Please get the list of all Companies and sort by **Company Domain** in reverse order.

Expected result:


```json
[{
    "name": "Company 1", 
    "domain": "Retail"
}, {
    "name": "Company 3", 
    "domain": "Healthcare"
}, {
    "name": "Company 2", 
    "domain": "Construction"
}]
```

In [25]:
# lengkapi function berikut
def sort_company():
    company_details = list(company_detail_list.values())

    sorted_companies = sorted(company_details, key=lambda x: x['domain'], reverse=True)
    
    result = [{'name': company['name'], 'domain': company['domain']} for company in sorted_companies]
    
    print(result)

    pass

### 2
Please print all Domain value in every company.

Expected return:

```
Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients
```

In [1]:
# lengkapi function berikut
def get_company_domain():
   company_details = list(company_detail_list.values())

    sorted_companies = sorted(company_details, key=lambda x: x['domain'], reverse=True)

    result = [{'name': company['name'], 'domain': company['domain']} for company in sorted_companies]

    print(result)

    pass

### 3
Create a function that return employees with it's company domain.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "domain": "Retail"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "domain": "Construction"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 2",
    "domain": "Construction"
}]
```

In [2]:
# lengkapi function berikut
def get_employees():
    company_details = list(company_detail_list.values())
    sorted_companies = sorted(company_details, key=lambda x: x['domain'], reverse=True)
    result = []
    for company in sorted_companies:
        company_name = company['name']
        domain = company['domain']
        employees_in_company = [employee_info for employee_info in employee_detail_list.values() if employee_info['company'] == company_name]
        for employee_info in employees_in_company:
            result.append({
                "full_name": employee_info['full_name'],
                "company": company_name,
                "domain": domain
            })

    pass

### 4
Create a function that return companies with list of employees that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employees": ["John Doe"]
}, {
    "company": "Company 2",
    "employees": ["Tom Smith", "Andrew Sebastian"]
}, {
    "company": "Company 3",
    "employees": []
}]
```

In [31]:
# lengkapi function berikut
def get_employees_by_company():
    result = []
    for company_name, company_info in company_detail_list.items():
        employees_in_company = [employee_info['full_name'] for employee_info in employee_detail_list.values() if employee_info['company'] == company_name]
        result.append({
            "company": company_name,
            "employees": employees_in_company
        })
    pass

### Soal pre-processing data

In [4]:
import pandas as pd

In [6]:
data_startup = pd.read_csv('50_Startups.csv')

In [8]:
data_startup.sample(7)

     R&D Spend  Administration  Marketing Spend       State     Profit
46    1315.460       115816.21        297114.46     Florida   49490.75
39   38558.510        82982.09        174999.30  California   81005.76
49   76788.862       116983.80         45173.06  California   14681.40
25   64664.710       139553.16        137962.62  California  107404.34
4   142107.340        91391.77        366168.42     Florida  166187.94
21   78389.470       153773.43        299737.29    New York  111313.02
9   123334.880       108679.17        304981.62  California  149759.96

In [7]:
rndSpendMean = data_startup["R&D Spend"].mean()
administrationMean = data_startup["Administration"].mean()
marketingSpendMean = data_startup["Marketing Spend"].mean()
profitMean = data_startup["Profit"].mean()

data_startup["R&D Spend"] = data_startup["R&D Spend"].fillna(rndSpendMean)
data_startup["Administration"] = data_startup["Administration"].fillna(administrationMean)
data_startup["Marketing Spend"] = data_startup["Marketing Spend"].fillna(marketingSpendMean)
data_startup["Profit"] = data_startup["Profit"].fillna(profitMean)

data_startup.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [9]:
col_cat = ["State"]

data_startup.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [10]:
# Menggunakan OneHotEncoder untuk field State

from sklearn.preprocessing import OneHotEncoder

onehot = OneHotEncoder()
onehot.fit(data_startup[col_cat])

OneHotEncoder()

In [11]:
# Menambah Field Tax

data_startup["Tax"] = (data_startup["Profit"] + data_startup["Marketing Spend"] + data_startup["Administration"]) * (5 / 100)

data_startup.sample(10)

,R&D Spend,Administration,Marketing Spend,State,Profit,Tax
5,131876.900,99814.710000,362861.360000,New York,156991.12,30983.359500
36,28663.760,127056.210000,201126.820000,Florida,90708.19,20944.561000
19,86419.700,153514.110000,223582.690222,New York,122776.86,24993.683011
10,76788.862,110594.110000,229160.950000,Florida,146121.95,24293.850500
37,44069.950,122790.158298,197029.420000,California,89949.14,20488.435915
7,130298.130,122790.158298,323876.680000,Florida,155752.60,30120.971915
48,542.050,51743.150000,223582.690222,New York,35673.41,15549.962511
14,119943.240,156547.420000,256512.920000,Florida,132602.65,27283.149500
1,162597.700,151377.590000,443898.530000,California,191792.06,39353.409000
41,27892.920,84710.770000,164470.710000,Florida,77798.83,16349.015500

In [12]:
# Membuat Standard Scaler

from sklearn.preprocessing import StandardScaler

col_num = ["R&D Spend", "Administration", "Marketing Spend", "Profit", "Tax"]

SS = StandardScaler()
SS.fit(data_startup[col_num])

col_num2 = [c+"_SS" for c in col_num]
data_startup[col_num2]=pd.DataFrame(SS.transform(data_startup[col_num]))

data_startup.dtypes

R&D Spend             float64
Administration        float64
Marketing Spend       float64
State                  object
Profit                float64
Tax                   float64
R&D Spend_SS          float64
Administration_SS     float64
Marketing Spend_SS    float64
Profit_SS             float64
Tax_SS                float64
dtype: object

### Soal
Dari data di atas lakukan pre-processing sbb:
1. Lakukan analisa mengenai field mana saja yang memiliki data kosong(Nan) lalu Isi data yang kosong tersebut menggunakan nilai mean
2. lakukan oneHotEncoder ke field state
3. buat field baru yaitu Tax. dimana Tax = (profit + Marketing Spend + administration) * 5%
4. Jalankan standardScaler field-field tersebut

### Ketentuan dan Deadline

1. Buat masing-masing repositori di github account
2. Soal dikerjakan di repositori tsb.
3. Jawaban yang dikumpulkan di **e-learning** merupakan link github dari repositori di atas.
4. Deadline pengumpulan soal adalah hari rabu, 15 Mei 2024 pukul 23:59.